Core/XmlSchemata/test1.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema
	targetNamespace="http://aleprojects.com/test1.xsd"
	elementFormDefault="qualified"
	xmlns="http://aleprojects.com/test1.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- attributes -->

	<!--
	<xs:attribute name="id" type="xs:string"/>
	<xs:attribute name="version" type="xs:integer"/>
	--> 
 
	<!-- generic ui -->

	<xs:simpleType name="color">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Color
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				Color
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="accent"/>
			<xs:enumeration value="primary"/>
			<xs:enumeration value="secondary"/>
			<xs:enumeration value="text"/>
			<xs:enumeration value="secondary_text"/>
			<xs:enumeration value="error"/>
			<xs:enumeration value="warning"/>
			<xs:enumeration value="success"/>
			<xs:enumeration value="disabled"/>
			<xs:enumeration value="transparent"/>
			<xs:enumeration value="light"/>
			<xs:enumeration value="dark"/>
			<xs:enumeration value="important"/>
			<xs:enumeration value="any"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="html" >
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="multiline" >
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:complexType name="link">
		<xs:sequence>
			<xs:element name="uri" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						URL
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						url
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Link title
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						Link title
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="altText" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Alt text
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						Alt text
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="icon" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Link icon
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						Link icon
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="target">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Target
					</xs:documentation>
					<xs:documentation xml:lang="fr">
						target
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="default"/>
						<xs:enumeration value="new_window"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="language">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Language
			</xs:documentation>
			<xs:documentation xml:lang="fr">
				langue
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Json"/>
			<xs:enumeration value="Yaml"/>
			<xs:enumeration value="Xml"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>


	<!-- pod -->

	<xs:complexType name="pod.appearance">
		<xs:annotation>
			<xs:documentation>Pod appearance inv</xs:documentation>
			<xs:documentation xml:lang="en">Pod appearance</xs:documentation>
			<xs:documentation xml:lang="fr">Pod appearance</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="background">
				<xs:annotation>
					<xs:documentation xml:lang="en">Pod background</xs:documentation>
					<xs:documentation xml:lang="fr">Pod bk</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="light"/>
						<xs:enumeration value="dark"/>
						<xs:enumeration value="grey"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="layout">
				<xs:annotation>
					<xs:documentation xml:lang="en">Pod layout</xs:documentation>
					<xs:documentation xml:lang="fr">Pod layout</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="top"/>
						<xs:enumeration value="bottomn"/>
						<xs:enumeration value="over_picture"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="animation" type="xs:boolean" default="true">
				<xs:annotation>
					<xs:documentation xml:lang="en">Animate</xs:documentation>
					<xs:documentation xml:lang="fr">animate'</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pod.content">
		<xs:annotation>
			<xs:documentation xml:lang="en">Pod text</xs:documentation>
			<xs:documentation xml:lang="fr">Pod txt</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" default="DefaultTitle">
				<xs:annotation>
					<xs:documentation xml:lang="en">Pod title</xs:documentation>
					<xs:documentation xml:lang="fr">Pod title</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\w*"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subtitle" default="Default subtitle" minOccurs="1" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Pod subtitle</xs:documentation>
					<xs:documentation xml:lang="fr">Pod subtitle</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[\w\s]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="text" type="html" minOccurs="1" maxOccurs="4">
				<xs:annotation>
					<xs:documentation xml:lang="en">Pod content</xs:documentation>
					<xs:documentation xml:lang="fr">Pod contenu</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pod.picture">
		<xs:annotation>
			<xs:documentation xml:lang="en">Pod picture</xs:documentation>
			<xs:documentation xml:lang="fr">Pod pict</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uri" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation xml:lang="en">Picture link</xs:documentation>
					<xs:documentation xml:lang="fr">Ssylka kartinki</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pod.button">
		<xs:annotation>
			<xs:documentation xml:lang="en">Pod button</xs:documentation>
			<xs:documentation xml:lang="fr">button Pod</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="link" type="link">
				<xs:annotation>
					<xs:documentation xml:lang="en">Button link</xs:documentation>
					<xs:documentation xml:lang="fr">btn link</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="color" type="color">
				<xs:annotation>
					<xs:documentation xml:lang="en">Button color</xs:documentation>
					<xs:documentation xml:lang="fr">btn color</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pod">
		<xs:annotation>
			<xs:documentation xml:lang="en">This Schema defines a pod</xs:documentation>
			<xs:documentation xml:lang="fr"><![CDATA[this schema defines a pod]]></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="appearance" type="pod.appearance"/>
			<xs:element name="content" type="pod.content" minOccurs="1" maxOccurs="3"/>
			<xs:element name="picture" type="pod.picture"/>
			<xs:element name="button" type="pod.button"/>
		</xs:sequence>
	</xs:complexType>

	<!-- validation -->

	<xs:element name="pod" type="pod"/>


	<xs:complexType name="picture">
		<xs:annotation>
			<xs:documentation xml:lang="en">Picture</xs:documentation>
			<xs:documentation xml:lang="fr">pict</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="width">
				<xs:annotation>
					<xs:documentation xml:lang="en">Width</xs:documentation>
					<xs:documentation xml:lang="fr">width</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="100"/>
						<xs:maxInclusive value="600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="height">
				<xs:annotation>
					<xs:documentation xml:lang="en">Height</xs:documentation>
					<xs:documentation xml:lang="fr">height</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="100"/>
						<xs:maxInclusive value="600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="uri" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation xml:lang="en">Picture link</xs:documentation>
					<xs:documentation xml:lang="fr">pict link</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="picture" type="picture"/>

	<xs:complexType name="code-fragment">
		<xs:annotation>
			<xs:documentation xml:lang="en">Code fragment</xs:documentation>
			<xs:documentation xml:lang="fr">code fragment</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="language" type="language">
				<xs:annotation>
					<xs:documentation xml:lang="en">Language</xs:documentation>
					<xs:documentation xml:lang="fr">langue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="multiline" minOccurs="1" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Code</xs:documentation>
					<xs:documentation xml:lang="fr">code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="code-fragment" type="code-fragment"/>


</xs:schema>
