SharedCode/XmlSchemas/basic-fragments.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema
	targetNamespace="http://aleprojects.com/h-cms/basic.xsd"
	elementFormDefault="qualified"
	xmlns="http://aleprojects.com/h-cms/basic.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsc="http://aleprojects.com/custom">


	<!-- generic container -->

	<xs:simpleType name="container.type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container type</xs:documentation>
			<xs:documentation xml:lang="fr">Type de conteneur</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="container"/>
			<xs:enumeration value="container-sm"/>
			<xs:enumeration value="container-md"/>
			<xs:enumeration value="container-lg"/>
			<xs:enumeration value="container-xl"/>
			<xs:enumeration value="container-xxl"/>
			<xs:enumeration value="container-fluid"/>
			<xs:enumeration value="row"/>
			<xs:enumeration value="col"/>
			<xs:enumeration value="col-1"/>
			<xs:enumeration value="col-2"/>
			<xs:enumeration value="col-3"/>
			<xs:enumeration value="col-4"/>
			<xs:enumeration value="col-5"/>
			<xs:enumeration value="col-6"/>
			<xs:enumeration value="col-7"/>
			<xs:enumeration value="col-8"/>
			<xs:enumeration value="col-9"/>
			<xs:enumeration value="col-10"/>
			<xs:enumeration value="col-11"/>
			<xs:enumeration value="col-12"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="container.subtype">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container subtype</xs:documentation>
			<xs:documentation xml:lang="fr">Sous-type de conteneur</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="none"/>
			<xs:enumeration value="xs-1"/>
			<xs:enumeration value="xs-2"/>
			<xs:enumeration value="xs-3"/>
			<xs:enumeration value="xs-4"/>
			<xs:enumeration value="xs-5"/>
			<xs:enumeration value="xs-6"/>
			<xs:enumeration value="xs-7"/>
			<xs:enumeration value="xs-8"/>
			<xs:enumeration value="xs-9"/>
			<xs:enumeration value="xs-10"/>
			<xs:enumeration value="xs-11"/>
			<xs:enumeration value="xs-12"/>
			<xs:enumeration value="sm-1"/>
			<xs:enumeration value="sm-2"/>
			<xs:enumeration value="sm-3"/>
			<xs:enumeration value="sm-4"/>
			<xs:enumeration value="sm-5"/>
			<xs:enumeration value="sm-6"/>
			<xs:enumeration value="sm-7"/>
			<xs:enumeration value="sm-8"/>
			<xs:enumeration value="sm-9"/>
			<xs:enumeration value="sm-10"/>
			<xs:enumeration value="sm-11"/>
			<xs:enumeration value="sm-12"/>
			<xs:enumeration value="md-1"/>
			<xs:enumeration value="md-2"/>
			<xs:enumeration value="md-3"/>
			<xs:enumeration value="md-4"/>
			<xs:enumeration value="md-5"/>
			<xs:enumeration value="md-6"/>
			<xs:enumeration value="md-7"/>
			<xs:enumeration value="md-8"/>
			<xs:enumeration value="md-9"/>
			<xs:enumeration value="md-10"/>
			<xs:enumeration value="md-11"/>
			<xs:enumeration value="md-12"/>
			<xs:enumeration value="lg-1"/>
			<xs:enumeration value="lg-2"/>
			<xs:enumeration value="lg-3"/>
			<xs:enumeration value="lg-4"/>
			<xs:enumeration value="lg-5"/>
			<xs:enumeration value="lg-6"/>
			<xs:enumeration value="lg-7"/>
			<xs:enumeration value="lg-8"/>
			<xs:enumeration value="lg-9"/>
			<xs:enumeration value="lg-10"/>
			<xs:enumeration value="lg-11"/>
			<xs:enumeration value="lg-12"/>
			<xs:enumeration value="xl-1"/>
			<xs:enumeration value="xl-2"/>
			<xs:enumeration value="xl-3"/>
			<xs:enumeration value="xl-4"/>
			<xs:enumeration value="xl-5"/>
			<xs:enumeration value="xl-6"/>
			<xs:enumeration value="xl-7"/>
			<xs:enumeration value="xl-8"/>
			<xs:enumeration value="xl-9"/>
			<xs:enumeration value="xl-10"/>
			<xs:enumeration value="xl-11"/>
			<xs:enumeration value="xl-12"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="container">
		<xs:annotation>
			<xs:documentation xml:lang="en">Generic container</xs:documentation>
			<xs:documentation xml:lang="fr">Conteneur générique</xs:documentation>
			<xs:appinfo>
				<xsc:properties container="true"></xsc:properties>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="container.type"/>
			<xs:element name="subtype" type="container.subtype" minOccurs="1" maxOccurs="5" />
			<xs:element name="alignment" type="alignment" minOccurs="1" maxOccurs="5" />
		</xs:sequence>
	</xs:complexType>

	<!-- expansion item -->

	<xs:complexType name="expansion-item.content">
		<xs:annotation>
			<xs:documentation xml:lang="en">Content</xs:documentation>
			<xs:documentation xml:lang="fr">Contenu</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Title</xs:documentation>
					<xs:documentation xml:lang="fr">Titre</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subtitle" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Subtitle</xs:documentation>
					<xs:documentation xml:lang="fr">Sous-titre</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="icon" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Icon</xs:documentation>
					<xs:documentation xml:lang="fr">Icône</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="expansion-item.appearance">
		<xs:annotation>
			<xs:documentation xml:lang="en">Appearance</xs:documentation>
			<xs:documentation xml:lang="fr">Apparence</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="color" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Color</xs:documentation>
					<xs:documentation xml:lang="fr">Couleur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="inset-level" type="xs:decimal" default="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Inset level</xs:documentation>
					<xs:documentation xml:lang="fr">Inset level</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="toggle-left" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="en">Left toggle</xs:documentation>
					<xs:documentation xml:lang="fr">Left toggle</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="separator" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="en">Separator</xs:documentation>
					<xs:documentation xml:lang="fr">Séparateur</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="expansion-item.accordion">
		<xs:annotation>
			<xs:documentation xml:lang="en">Accordion behavior</xs:documentation>
			<xs:documentation xml:lang="fr">Accordion behavior</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="group" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Group</xs:documentation>
					<xs:documentation xml:lang="fr">Groupe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="default-opened" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="en">Default opened</xs:documentation>
					<xs:documentation xml:lang="fr">Ouvert par défaut</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="expansion-item">
		<xs:annotation>
			<xs:documentation xml:lang="en">Expansion item</xs:documentation>
			<xs:documentation xml:lang="fr">Élément d'extension</xs:documentation>
			<xs:appinfo>
				<xsc:properties container="true"></xsc:properties>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="content" type="expansion-item.content"/>
			<xs:element name="appearance" type="expansion-item.appearance"/>
			<xs:element name="accordion" type="expansion-item.accordion"/>
		</xs:sequence>
	</xs:complexType>

	<!-- image-->

	<xs:complexType name="image.responsive">
		<xs:annotation>
			<xs:documentation xml:lang="en">Responsive</xs:documentation>
			<xs:documentation xml:lang="fr">Réactif</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="source-set-item" type="xs:anyURI" maxOccurs="8">
				<xs:annotation>
					<xs:documentation xml:lang="en">Srcset item</xs:documentation>
					<xs:documentation xml:lang="fr">Élément Srcset</xs:documentation>
					<xs:appinfo>
						<xsc:properties container="false" image="true"></xsc:properties>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sizes" type="xs:string" maxOccurs="8">
				<xs:annotation>
					<xs:documentation xml:lang="en">Sizes item</xs:documentation>
					<xs:documentation xml:lang="fr">Élément de tailles</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="image">
		<xs:annotation>
			<xs:documentation xml:lang="en">Image</xs:documentation>
			<xs:documentation xml:lang="fr">Image</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="source" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation xml:lang="en">Source</xs:documentation>
					<xs:documentation xml:lang="fr">Source</xs:documentation>
					<xs:appinfo>
						<xsc:properties container="false" image="true"></xsc:properties>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Title</xs:documentation>
					<xs:documentation xml:lang="fr">Titre</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alt" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Alt</xs:documentation>
					<xs:documentation xml:lang="fr">Alt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="width">
				<xs:annotation>
					<xs:documentation xml:lang="en">Width</xs:documentation>
					<xs:documentation xml:lang="fr">Largeur</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="height">
				<xs:annotation>
					<xs:documentation xml:lang="en">Height</xs:documentation>
					<xs:documentation xml:lang="fr">Hauteur</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="responsive" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="en">Responsive</xs:documentation>
					<xs:documentation xml:lang="fr">Réactif</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="responsive" type="image.responsive"/>
		</xs:sequence>
	</xs:complexType>


	<!-- card -->

	<xs:simpleType name="card.type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Card type</xs:documentation>
			<xs:documentation xml:lang="fr">Type de carte</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="hero section"/>
			<xs:enumeration value="feature"/>
			<xs:enumeration value="product"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="card.content">
		<xs:annotation>
			<xs:documentation xml:lang="en">Content</xs:documentation>
			<xs:documentation xml:lang="fr">Contenu</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Title</xs:documentation>
					<xs:documentation xml:lang="fr">Titre</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subtitle" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Subtitle</xs:documentation>
					<xs:documentation xml:lang="fr">Sous-titre</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="text" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Text</xs:documentation>
					<xs:documentation xml:lang="fr">Texte</xs:documentation>
					<xs:appinfo>
						<xsc:properties textformat="html"></xsc:properties>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="card.appearance">
		<xs:annotation>
			<xs:documentation xml:lang="en">Appearance</xs:documentation>
			<xs:documentation xml:lang="fr">Apparence</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="layout">
				<xs:annotation>
					<xs:documentation xml:lang="en">Layout</xs:documentation>
					<xs:documentation xml:lang="fr">Disposition</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="start"/>
						<xs:enumeration value="end"/>
						<xs:enumeration value="over"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="horizontal" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="en">Horizontal</xs:documentation>
					<xs:documentation xml:lang="fr">Horizontal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parallax" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="en">Parallax</xs:documentation>
					<xs:documentation xml:lang="fr">Parallaxe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="color" type="standard-color">
				<xs:annotation>
					<xs:documentation xml:lang="en">Color</xs:documentation>
					<xs:documentation xml:lang="fr">Couleur</xs:documentation>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="card">
		<xs:annotation>
			<xs:documentation xml:lang="en">Card</xs:documentation>
			<xs:documentation xml:lang="fr">Carte</xs:documentation>
			<xs:appinfo>
				<xsc:properties container="true"></xsc:properties>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="content" type="card.content"/>
			<xs:element name="image" type="image"/>
			<xs:element name="link" type="link" maxOccurs="3"/>
			<xs:element name="appearance" type="card.appearance"/>
		</xs:sequence>
	</xs:complexType>



	<!-- fragments -->

	<xs:element name="container" type="container"/>
	<xs:element name="expansion-item" type="expansion-item"/>
	<xs:element name="image" type="image"/>
	<xs:element name="card" type="card"/>

	<xs:element name="html" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Html</xs:documentation>
			<xs:documentation xml:lang="fr">Html</xs:documentation>
			<xs:appinfo>
				<xsc:properties textformat="html"></xsc:properties>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:element name="markdown" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Markdown</xs:documentation>
			<xs:documentation xml:lang="fr">Markdown</xs:documentation>
			<xs:appinfo>
				<xsc:properties textformat="markdown"></xsc:properties>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

</xs:schema>